<ui-view>
    <button type="button" ui-sref="users.create">Create</button>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Avatar</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in demon.usersList track by $index">
            <td><span ng-bind="user.id"></span></td>
            <td><span ng-bind="user.first_name"></span></td>
            <td><span ng-bind="user.last_name"></span></td>
            <td><span ng-bind="user.avatar"></span></td>
        </tr>
        </tbody>
    </table>
</ui-view>